.WeatherApp {
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: block;
  padding-top: 24px;
}
